{% extends "base.html" %}
{% load static %}

{% block main %}
  <main id="main">


    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <span>Team</span>
          <h2>Team</h2>
          <p>A research collaboration between Faculty of Medicine and Faculty of Computer Science, Universitas Indonesia</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/telly.jpg' %}" alt="" height="300px">
              <h4>Dr. Telly Kamelia Sp.PD-KP, FINASIM</h4>
              <span>Principal Investigator</span>
              <p>
                Radiologist Expert
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/adila.jpg' %}" alt="" height="300px">
              <h4>Adila Alfa Krisnadhi, Ph.D</h4>
              <span>Research Member</span>
              <p>
                Research Manager Fasilkom UI, Artificial Intelligence Expert
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/ariw.jpeg' %}" alt="" height="300px">
              <h4>Ari Wibisono, M.Kom</h4>
              <span>Research Member</span>
              <p>
                Infrastructure and High Performance Computing
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/adin.jpg' %}" alt="" height="300px">
              <h4>Gladhi Guarddin, M.Kom</h4>
              <span>Research Member</span>
              <p>
                Infrastructure, Product Development and Software Architect
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/icon.png' %}" alt="" height="300px">
              <h4>Dr. Anggraini Iriani, Sp.PK (K)</h4>
              <span>Research Member</span>
              <p>
                
              </p>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/icon.png' %}" alt="" height="300px">
              <h4>dr. Benny Zulkarnaien, SpRad (K)</h4>
              <span>Research Member</span>
              <p>
                
              </p>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/icon.png' %}" alt="" height="300px">
              <h4>dr. R. Bagus Denny Indra Baruna Sp.Rad(K)</h4>
              <span>Research Member</span>
              <p>
                
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/icon.png' %}" alt="" height="300px">
              <h4>dr. Ceva Wicaksono, SpPD, KP</h4>
              <span>Research Member</span>
              <p>
                
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/icon.png' %}" alt="" height="300px">
              <h4>Dr. Dina Chahyati</h4>
              <span>Research Member</span>
              <p>
                
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/icon.png' %}" alt="" height="300px">
              <h4>Dhita Putri Pratama</h4>
              <span>Research Member</span>
              <p>
                
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/icon.png' %}" alt="" height="300px">
              <h4>Dr. Fera Ibrahim, Sp.PK(K)</h4>
              <span>Research Member</span>
              <p>
                
              </p>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/icon.png' %}" alt="">
              <h4>Dr. Martin Rumende, SpPD,KP</h4>
              <span>Research Member</span>
              <p>
                
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/icon.png' %}" alt="">
              <h4>dr. Rahmi Afifi, SpRad</h4>
              <span>Research Member</span>
              <p>
                
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/icon.png' %}" alt="">
              <h4>dr. Reyhan Eddy Yunus, SpRad, MSc</h4>
              <span>Research Member</span>
              <p>
                
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/icon.png' %}" alt="">
              <h4>dr. Rizky Amalia</h4>
              <span>Research Member</span>
              <p>
                
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/icon.png' %}" alt="">
              <h4>dr. Wita Septiyanti, Sp.Rad(K)</h4>
              <span>Research Member</span>
              <p>
                
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/icon.png' %}" alt="">
              <h4>Prof. Dr. Zulkifli Amin, SpPD, KP</h4>
              <span>Research Member</span>
              <p>
                
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->


  </main><!-- End #main -->
{% endblock %}  
